*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    overflow-x: hidden;
}

body {
    background-color: #eaeaea;
}

#navbar-flex{
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
}
.carousel-item img{
    max-height: 450px !important;
    border-radius: 15px;
}
.cardRadius {
    border-radius: 10px !important;
}
.media img{
    transition: .3s;
    border-radius: 10px;
    box-shadow: 2px 2px 7px #aeaeae;
}
.media img:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.1);

}

.bintang{
    color: yellow;
}

/* button */
.cardHover .buttons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardHover .buttons button {
    width: 47%;
}


.cardHover .col-md-3:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.03);
}
.cardHover .col-md-4 {
    transition: .3s;
}
.cardHover .col-md-4 .card{
    box-shadow: 3px 3px 10px #c7c3c3a2;
    transition: .3s;
}
.cardHover .col-md-4:hover {
    cursor: pointer;
    transition: .3s;
    transform: scale(1.04);
}

.footer {
    min-height: 350px;
}

.footer .footerList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.footerList a {
    margin-bottom: 5px;
    color: #aeaeae;
}

.footerList a:hover {
    color: #eaeaea;
}

.footer .icon {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;

}
.icon a {
    color: #aeaeae;
}
.icon a i {
    font-size: 25px;
}

.icon a:hover {
    transform: scale(1.1);
    transition: .3s;
    color: #eaeaea;
}





/* bagian beli */

.buy-product .product, .buy-product .pembelian{
    background-color: white;
    border-radius: 10px;
}

.items {
    display: flex;
    align-items: center;
}

.items i {
    margin-right: 10px;
}

.stok {
    width: 80%;
    padding-left: 5px;
    box-sizing: border-box;
    color: #007bff;
    border: 1px solid #007bff;
}







